/* this part for leftbar.js */

.leftbar-part {
    height: 100vh;
    margin: 29px;
    background: #5F35F5;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;

}

/* width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center; */
.leftbar-part .profile {

    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 2rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.leftbar-part .profile img {
    background: rgba(0, 0, 0, 0.027);
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;

}
.leftbar-box .profile .name-titl .display-Name{
    padding-top: 6rem;
}

.leftbar-part .profile .overlay {
    background: rgba(0, 0, 0, 0.596);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.leftbar-part .profile .overlay:hover{
    opacity: 1;
}

.upload-img{
    cursor: pointer;
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.profile-Picture{
   margin: 0 auto;
   display: flex;
   justify-content: center;
}

.avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.avatar img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.jobayed{
    overflow-y: scroll;
    overflow-x: hidden;
}

.main-cropper-box{
    /* display: flex; */
    width: 100%;
    height: 100%;
    border: 2px solid red;
}

/* .left-img-part{
    width: 50%;
}
.right-img-part{
    width: 50%;
} */
.cropper-box{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.img-cropper-model{
    margin-top: 20px;
}
.left-img-cropper{
    
    padding: 10px;
    width: 100%;
    /* height: 500px; */
}
.img-cropper-left{
    
    max-height: 100%;
    max-width: 500px;
    object-fit: contain ;
}
.right-img-cropper{
   
    padding: 10px;
    width: 100%;
   
}
.previewer{
    width: 200px;
    height: 400px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.box {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
  }
  .img-preview {
    overflow: hidden;
  }





ul li {
    list-style: none;
}

.leftbar-part .list-icons ul li {
    position: relative;
    margin-top: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 85%;
    margin-left: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.leftbar-part .list-icons ul li a {
    color: #BAD1FF;
    font-size: 42px;


}

.leftbar-part .list-icons ul li:last-child {
    margin-top: 100px;
}

.leftbar-part .list-icons ul .active {
    background: #fff;
}

.leftbar-part .list-icons ul ::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 7px;
    background: #5F35F5;
    top: 0;
    right: 0;
    border-bottom-left-radius: 29px;
    border-top-left-radius: 29px;
}

.leftbar-part .display-Name {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;

}

.leftbar-box {
    width: 450px;
    height: 450px;
    background: #ceb4b4;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: #000;
}