/* This part for Registration */
#reg-part .left {

    margin-right: 50px;
}

#reg-part .left h1 {
    color: #11175D;
    font-weight: 700;
    font-size: 35px;
    font-family: 'Nunito', sans-serif;

    margin-top: 225px;
}

#reg-part .left .content {
    color: #C3C5D7;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 50px;
    margin-top: 12px;
}

#reg-part .left .MuiInputBase-input {
    color: #11175D;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    line-height: 29px;

}

/* show passwoprd and hide css */
#reg-part .css-i4bv87-MuiSvgIcon-root {
    color: rgb(56, 50, 50);
}

#reg-part .left Button {
    border-radius: 86px;
    -webkit-border-radius: 86px;
    -moz-border-radius: 86px;
    -ms-border-radius: 86px;
    -o-border-radius: 86px;
}

#reg-part .left .already-Account .already-content {
    padding-top: 15px;
    font-weight: 400;
    font-size: 14px;
    color: #03014C;
    font-family: 'Open Sans', sans-serif;
}

#reg-part .left .already-Account .already-content .goTopage {
    color: #EA6C00;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

/* ekhane login and signin button */
#reg-part .MuiButtonBase-root {
    color: #FFFFFF;
    text-transform: capitalize;
}

/* this for error message */
#reg-part .MuiFormHelperText-root {
    color: red;
    font-size: 12px;
    text-transform: capitalize;
}

#reg-part .MuiAlert-message {
    color: red;
}

